.create_category-container{
    width: 100%;
    min-height: 220px;
}

.create_category-wrapper{
    justify-content: flex-start;
}

.create_category-element_flex{
    display: flex;
    flex-direction: column;
}