.part_block{
    width:206px;
    height:213px; 
    
    margin-left: 55px;
    margin-right: 55px;
}

.block-part_photo{
    width:203px;
    height:138px; 
    background-repeat: no-repeat;
    background-size: contain;
}

.block-part_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 45px;
}

.block-part_price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 45px;
}