.part_block{
    // width:206px;
    // min-height:213px; 
    margin-left: 25px;
    margin-right: 25px;
    min-width: 206px;
    min-height: 213px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.part_block:hover{
    border-radius: 8px;
    // border: 1px solid;
    background-color:#fbffff;
    transition: 0.3s;
    box-shadow: 0 0 10px;
}

.block-part_photo{
    width:203px;
    height:138px; 
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.block-part_info{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 45px;
    height: 70%;
}

.block_part_price{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 45px;
}

.block-part_group-product{
    width: 100%;
    height: calc(100% - 138px);
}