.search_conainer{
    width: 100%;
    min-height: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.title_search{
    font-size: 30px;
    font-weight: bold;
    height: 45px;
    padding-bottom: 10px;
}