html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
    font-family: "Montserrat"; 
    // адрес шрифта и тип 
    src: url("../other/Montserrat/Montserrat-Light.ttf"); 
    font-style: normal; 
    font-weight: normal; 
} 

body{
    min-height: 768px;
    // padding: 0px 127px;
    // max-width: 1920px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;  
    font-size: 25px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

.category_navigation_active{
    color: crimson!important;
}

// @keyframes scale {
//     100% {
//         -webkit-transform: scale(1.3);
//         -ms-transform: scale(1.3);
//         transform: scale(1.3);
//     }
//   }

.navigation_active{
    border: 2px solid #e3eaef;
    border-radius: 15px;
    font-weight: bold;
    transform: scale(1.1);
    padding: 5px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    color: #930620 !important;
    // box-shadow: 0 0 14px;
    box-shadow: 0 3px 5px;
}

.title_category-left a{
    padding: 10px ;
    padding-left: 15px;
    padding-right: 15px;
}

.title_category-left a:hover{
    transform: scale(1.1);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e3eaef;
    border-radius: 15px;
    // transition: 0.3s;

}

.title_category-right a{
    padding: 10px ;
    padding-left: 15px;
    padding-right: 15px;
}

.title_category-right a:hover{
    transform: scale(1.1);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e3eaef;
    border-radius: 15px;
}

.title_p__all{
    margin-bottom: 20px;
    font-size: 30px;
}   

.title_p__all p {
    font-weight: bold;
}

.shadow_box-block{
    box-shadow: 0 0 7px #28343F;
    padding: 10px 15px;
    border-radius: 8px;
    width: 100%;
}

.delete_button{
    background: #611e1e;
    color: blanchedalmond;
    width: 20px;
    height: 20px;
    // display: flex;
    // justify-content: center;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    padding: 1px 5px 1px 5px;
    margin-left: 5px;
}

.color_price-container{
    width: 100%;
    border-radius: 10px;
    background: #95271424;
    padding: 0px 0px 0px 7px;
    margin-top: 10px;
}

@media screen and ( max-width: 1920px) {
    body{
        zoom: 75%;
    }
}

@media screen and ( max-width: 1279px) {
    body{
        zoom: 50%;
    }
}

#root{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.background__header-top{
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 2560px;
    width: 100%;
    height: 171px;
    position: absolute;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.background__footer{
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 2560px;
    width: 100%;
    height: 270px;
    position: absolute;
    background: #28343F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.__container{
    min-height: 745px;
}

.bottom_margin{
    margin-bottom: 20px;
}

.custom_input{
    width: 310px;
    height: 25px;
    border-radius: 8px;
}

.custom_input::placeholder{
    font-size: 16px;
    padding-left: 10px;
    transition: 2s;
}

.form_button-submit{
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: white;
}

.form_button-submit:active{
    color: blanchedalmond;
    font-size: 23px;
    background-color : brown!important;
    transition: 0.2s;
}

.form_button-submit:hover{
    background-color : rgb(116, 69, 69);
    color: white;
}

.cart_button{
    width: 150px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0px 1px 2px #952714;
    border-radius: 25px;
    display: flex;
    align-content: center;
    margin-right: 10px;
    justify-content: center;
    font-weight: bold;
    margin-top: 5px;
}

.cart_button:hover{
    box-shadow:#952714 2px 4px 10px; 
}

.cart_button:active{
    color: blanchedalmond;
    background-color: #952714;
}

.go_back-button{
    cursor: pointer;
    width: 80px;
}

@media screen and (max-width:1260px) {
    body{
        padding: 0px 50px;
    }
}


@import './header.scss';
@import './main.scss';
@import './footer.scss';
@import './content_body.scss';
@import './news.scss';
@import './stocks.scss';
@import './recent_arrivals.scss';
@import './part.scss';
@import './login.scss';
@import './login_form.scss';
@import './page_title.scss';
@import './contacts.scss';
@import './categories.scss';
@import './registration_form.scss';
@import './registration.scss';
@import './product_page.scss';
@import './catalog.scss';
@import './create_product.scss';
@import './create_category.scss';
@import './category_top.scss';
@import './read_one.scss';
@import './list_product.scss';
@import './search_list.scss';
@import './image_galery.scss';
@import './order_form.scss';